doctype HTML5
html(lang="en")
  head
    title QApp
    link(rel='stylesheet', href='/styles/styles.css')
    link(rel='stylesheet', href='./bootstrap-3.2.0-dist/css/bootstrap.css')
    link(rel='stylesheet', href='./slider/css/slider.css')
  body
    block content
    
    block scripts
