<form>
	<fieldset>
		<legend>Question Form</legend>
		<p>Enter Question<textarea rows="10" cols="80" name="question" /></p>
		<p>
			<select name="subtech" multiple>
  				<option id='subTechnology'></option>
			</select>


		</p>
		<p>	Difficulty Score<input type="number" max='10' min ='1' name="difficultylevel"/>
			Concept Score<input type="number" max='10' min ='1' name="conceptscore" />
			Importance Score<input type="number" max='10' min ='1' name="importancescore" />
		</p>
		<p>Enter Answer : <textarea rows="10" cols="80" name="answer" /></p>
		<input type="submit" value="Add" />
	</fieldset>
</form>
