<div class='well span10'>
	<form>
		<fieldset>
			<legend><%=subtechnology%></legend>
			<p><h4>Question :</h4></p> 
			<p><textarea readonly class="field span10" rows="6" cols="800" 
				placeholder="<%=question%>" name="question" /></p>
			<p>Answers : <% for(var answer in answers) { %>
				<p><textarea readonly class="field span10" rows="6" cols="800" 
					placeholder="<%= answers[answer] %>" name="answer" /></p>
				<% } %></p>
			<p><div class='pull-right'>
					<a class='btn btn-primary'>Difficulty Level : <%=difficultylevel%>  </a>
					<a class='btn btn-primary'>Concept Score : <%=conceptscore%>  </a>
					<a class='btn btn-primary'>Importance Score : <%=importancescore%></a>
				</div>
			</p>
		</fieldset>
	</form>
</div>
